@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.body {
    font-family: 'Oswald', serif;
    background-color: rgb(252, 243, 232);
    color: #025940;
}
.header {
    background-color: #024059;
    color: #04BF8A;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1.5rem;
    padding-top: 0.01rem;
    padding-left: 1rem;
    border-radius: 10px;
}
.header_section{
    font-size: 2rem;
}
.main_section {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem 1rem 3rem;
}
.about-us {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: -10px;
    padding-left: 10px;
    font-size: 2rem;
    border-radius: 10px;
}
.text-block {
    margin-bottom: 20px;
    margin-right: auto;
    padding: 20px 10px 10px 10px;
    background-color: #ebfeff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.fancy-text {
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
.code-block {
    padding-left: 20px;
    color: black
}
.h3 {
    margin-top: -5px;
    margin-right: 900px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.h3-workers{
    margin-right: 500px;
}
.code-header{
    padding-left: -100px;
}
.navigation {
    text-align: left;
    padding-bottom: 10px;
}
.vacancies {
    margin-bottom: 20px;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    background-color: #ebfeff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.vacancies_header{
    margin-top: -5px;
    margin-right: 85%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.footer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #024059;
    color: #04BF8A;
    margin: 0px -10px -10px -10px;
    padding: 0px 10px 10px 10px;
}
.link {
    color: #ebfeff;
}
.contacts_header {
    padding-top: 10px;
    padding-left: 10px;
}
.pic {
    border: 5px solid #024059;
    height: auto;
    width: 50%;
}